# Lab Task 6: Binary Classification on Diabetes Dataset

Requirment knowledge includes: 

optional - KNN theory

must - Cross validation

must - Evaluation metrics
***

Term 1 2019 - Instructor: Teerapong Leelanupab

Teaching Assistant: Suttida Satjasunsern

***

Step 1. Download the *Diabetes* dataset from the link below, and load the data into a Pandas Data Frame.

[labtask06-data/diabetes.csv](labtask06-data/diabetes.csv)

The goal of the classification tasks for this dataset is to predict whether a patient will test 'positve' or 'negative' for diabetes, based on 8 numeric features.

In [2]:
import pandas as pd
import numpy as np
df_train = pd.read_csv('C:/Users/theka/OneDrive/desktop/DS4Biz/ds4bizy62t1-w10-labtask6-binaryclassification-kate006naja/labtask06-data/diabetes.csv')
df_train.head()

   preg  plas  pres  skin  insu  mass   pedi  age     class
0     6   148    72    35     0  33.6  0.627   50  positive
1     1    85    66    29     0  26.6  0.351   31  negative
2     8   183    64     0     0  23.3  0.672   32  positive
3     1    89    66    23    94  28.1  0.167   21  negative
4     0   137    40    35   168  43.1  2.288   33  positive

In [3]:
df_train.shape

(739, 9)

Step 2. Separate the numeric features from the target classs labels.

In [6]:
train_data = df_train.drop(columns = 'class')
train_data.head()

   preg  plas  pres  skin  insu  mass   pedi  age
0     6   148    72    35     0  33.6  0.627   50
1     1    85    66    29     0  26.6  0.351   31
2     8   183    64     0     0  23.3  0.672   32
3     1    89    66    23    94  28.1  0.167   21
4     0   137    40    35   168  43.1  2.288   33

In [7]:
train_target = df_train['class']
train_target.head()

0    positive
1    negative
2    positive
3    negative
4    positive
Name: class, dtype: object

Step 3. Generate a 60/40 random training and test split of the data. Based on this split, evaluate the accuracy achieved by a KNN classifier on the *Diabetes* dataset for: K=1, K=3, K=5

In [8]:
from sklearn.model_selection import train_test_split
data_train, data_test, target_train, target_test = train_test_split(train_data, train_target, test_size=0.4)

In [9]:
print("Training set has %d examples" % data_train.shape[0] )
print("Test set has %d examples" % data_test.shape[0] )

Training set has 443 examples
Test set has 296 examples

In [12]:
# Build KNN Classifier (K=1, 3 and 5)
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import *
from sklearn.model_selection import cross_val_score

In [24]:
k = [1, 3, 5]
for i in k:
    model = KNeighborsClassifier(n_neighbors=i)
    model.fit(data_train, target_train)
    predicted = model.predict(data_test)
    print("Accuracy of "+str(i)+" k"+" = %.2f" % accuracy_score(target_test, predicted))

Accuracy of 1 k = 0.68
Accuracy of 3 k = 0.72
Accuracy of 5 k = 0.74

Step 4. Use 5-fold cross-validation to evaluate the accuracy achieved by a KNN classifier on the *Diabetes* dataset for: K=1, K=3, K=5

In [21]:
for i in [1, 3, 5]:
    model = KNeighborsClassifier(n_neighbors=i)
    acc_scores = cross_val_score(model, train_data, train_target, cv=5, scoring="accuracy")
    print("KNN: Mean cross-validation accuracy = %.2f" % acc_scores.mean())

KNN: Mean cross-validation accuracy = 0.66
KNN: Mean cross-validation accuracy = 0.72
KNN: Mean cross-validation accuracy = 0.72
KNN: Mean cross-validation accuracy = 0.71

Step 5. Using the best performing number of nearest neighbours from Step 4, build a KNN model on the entire Diabetes dataset.

Use the model to make positive or negative predictions for the new unseen input data from the link below.

[labtask06-data/diabetes-unseen.csv](labtask06-data/diabetes-unseen.csv)

In [20]:
df_unseen = pd.read_csv('C:/Users/theka/OneDrive/desktop/DS4Biz/ds4bizy62t1-w10-labtask6-binaryclassification-kate006naja/labtask06-data/diabetes-unseen.csv')
df_unseen

   preg  plas  pres  skin  insu  mass   pedi  age
0     6   108    44    20   130  24.0  0.813   35
1     0   101    62     0     0  21.9  0.336   25
2     0    93   100    39    72  43.4  1.021   35
3     0   147    85    54     0  42.8  0.375   24
4     1    89    24    19    25  27.8  0.559   21
5     0    84    82    31   125  38.2  0.233   23
6     0   129   110    46   130  67.1  0.319   26
7     0    93    60     0     0  35.3  0.263   25
8    12    92    62     7   258  27.6  0.926   44
9    13   153    88    37   140  40.6  1.174   39

In [25]:
model = KNeighborsClassifier(n_neighbors=3)
model.fit(data_train, target_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [26]:
predicted_unseen = model.predict(df_unseen)

In [28]:
predicted_unseen

array(['negative', 'negative', 'negative', 'negative', 'negative',
       'negative', 'positive', 'negative', 'negative', 'positive'],
      dtype=object)