# Lab Task 6: Binary Classification on Diabetes Dataset

Requirment knowledge includes: 

optional - KNN theory

must - Cross validation

must - Evaluation metrics
***

Term 1 2019 - Instructor: Teerapong Leelanupab

Teaching Assistant: Suttida Satjasunsern

***

Step 1. Download the *Diabetes* dataset from the link below, and load the data into a Pandas Data Frame.

[labtask06-data/diabetes.csv](labtask06-data/diabetes.csv)

The goal of the classification tasks for this dataset is to predict whether a patient will test 'positve' or 'negative' for diabetes, based on 8 numeric features.

In [128]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import *
from sklearn.model_selection import cross_val_score

In [129]:
df = pd.read_csv("labtask06-data/diabetes.csv", index_col=0)

In [130]:
df.head()

      plas  pres  skin  insu  mass   pedi  age     class
preg
6      148    72    35     0  33.6  0.627   50  positive
1       85    66    29     0  26.6  0.351   31  negative
8      183    64     0     0  23.3  0.672   32  positive
1       89    66    23    94  28.1  0.167   21  negative
0      137    40    35   168  43.1  2.288   33  positive

In [131]:
df.shape

(739, 8)

Step 2. Separate the numeric features from the target classs labels.

In [132]:
target = df["class"]
target[0:5]

preg
6    positive
1    negative
8    positive
1    negative
0    positive
Name: class, dtype: object

In [133]:
df = df.drop(columns="class")

In [134]:
df.head()

      plas  pres  skin  insu  mass   pedi  age
preg
6      148    72    35     0  33.6  0.627   50
1       85    66    29     0  26.6  0.351   31
8      183    64     0     0  23.3  0.672   32
1       89    66    23    94  28.1  0.167   21
0      137    40    35   168  43.1  2.288   33

Step 3. Generate a 60/40 random training and test split of the data. Based on this split, evaluate the accuracy achieved by a KNN classifier on the *Diabetes* dataset for: K=1, K=3, K=5

In [135]:
data_train, data_test, target_train, target_test = train_test_split(df, target, test_size=0.4)

In [136]:
print("Training set has %d examples" % data_train.shape[0] )
print("Test set has %d examples" % data_test.shape[0] )

Training set has 443 examples
Test set has 296 examples

In [137]:
lst = []

In [138]:

for i in [1,3,5]:
    model = KNeighborsClassifier(n_neighbors=i)
    model.fit(data_train, target_train)
    predicted = model.predict(data_test)
    lst.append(predicted)

In [139]:
for i in lst:
    print("Accuracy = %.2f" % accuracy_score(target_test, i) )

Accuracy = 0.69
Accuracy = 0.73
Accuracy = 0.73

Step 4. Use 5-fold cross-validation to evaluate the accuracy achieved by a KNN classifier on the *Diabetes* dataset for: K=1, K=3, K=5

In [140]:
lst = []

In [141]:
for i in [1,3,5]:
    model = KNeighborsClassifier(n_neighbors=i)
    acc_scores = cross_val_score(model, df, target, cv=5, scoring="accuracy")
    lst.append(acc_scores)

In [142]:
for i in lst:
    print(("KNN: Mean cross-validation accuracy = %.2f" % i.mean()))

KNN: Mean cross-validation accuracy = 0.66
KNN: Mean cross-validation accuracy = 0.72
KNN: Mean cross-validation accuracy = 0.71

Step 5. Using the best performing number of nearest neighbours from Step 4, build a KNN model on the entire Diabetes dataset.

Use the model to make positive or negative predictions for the new unseen input data from the link below.

[labtask06-data/diabetes-unseen.csv](labtask06-data/diabetes-unseen.csv)

In [120]:
df2 = pd.read_csv("labtask06-data/diabetes-unseen.csv", index_col=0)

In [143]:
model = KNeighborsClassifier(n_neighbors=3)
model.fit(data_train, target_train)
acc_scores = cross_val_score(model, df, target, cv=5, scoring="accuracy")

In [144]:
predicted2 = model.predict(df2)

In [146]:
predicted2

array(['negative', 'negative', 'negative', 'negative', 'negative',
       'negative', 'positive', 'negative', 'negative', 'positive'],
      dtype=object)