# More Python Strings

Term 1 2019 - Instructor: Teerapong Leelanupab

Teaching Assistant: Suttida Satjasunsern

***

### 1. Working with Strings

A *string* variable in Python can be created with the assignment operator *=* and by enclosing the text in either single or double quotes. Either is fine, but the start and end quotes must be the same!

In [6]:
cityname = "Bangkok"
address = 'Faculty of Information Technology, Ladkrabang'
cityname,address

('Bangkok', 'Faculty of Information Technology, Ladkrabang')

Strings that span multiple lines can be defined in several different ways. One way is to include a backslash character \ as the last character on the line:

In [11]:
s1 = "This is all \
part of the same string"
s1

'This is all part of the same string'

Alternatively, we can use triple quotes (""" or ''') to enclose a multi-line string:

In [13]:
s2 = """
This also has multiple lines
defined in a different way
"""
s2

'\nThis also has multiple lines\ndefined in a different way\n'

Strings can be viewed as lists of individual characters. We can apply many standard list operations and functions to strings, such as accessing individual characters or slicing.

In [14]:
cityname[0]

'B'

In [15]:
address[0:3]

'Fac'

We can use the built-in *len()* function to check the length of a string (i.e. how many characters it contains):

In [16]:
len(cityname)

7

Strings can be concatenated together using + operator:

In [17]:
address + ", " + cityname

'Faculty of Information Technology, Ladkrabang, Bangkok'

**Special characters**: Backslashes are used to introduce special characters. This use of backslashes is referred to as an *escape sequence*. For instance '\t' represents a tab character and '\n' represents a newline character.

In [ ]:
s = "\tThailand\n\tJapan"

In [ ]:
print(s)

***
### 2. String Functions

Strings have a range of associated functions to perform basic operations on them. Note: These functions make a copy of the original string, they do not change the original!

For example, you can change the case of the characters in a string:

In [ ]:
country = "Thailand"
country.upper()  # make a copy of country, but in upper case characters

In [ ]:
country.lower() # make a copy of country, but in lower case characters

We can remove trailing whitespaces characters (spaces, tabs and line breaks) from strings with the *strip()* function:

In [19]:
s = "Hello World   "
s.strip()

'Hello World'

Strings have simple functions for finding and replacing characters substrings (i.e. strings contained within other strings). We can search for the index (position) of a substring within a longer string using the *find()* function:

In [26]:
s.find(" World")  # what index does that substring 'World' start at?

5

If we try to find a substring that does **not** exist within another string, we get an index of -1.

In [22]:
s.find("bye")

-1

We can count number of times a character or substring occurs in a longer string using the *count()* function:

In [28]:
s.count("o")

2

We can also replace characters or substrings in another string. Note: The *replace()* function makes a copy of the string, it does not change the original string.

In [29]:
rep = s.replace("l","z")
print( s )    # original string
print( rep )  # the new copy, where replacements were made

Hello World
Hezzo Worzd

We can separate a single string into a list of one or more strings based on a *delimiter* (a separator character or string) using the *split()* function:

In [30]:
names = "lisa;john;alex;alice"
names.split(";")  # split this string based on the ; character

['lisa', 'john', 'alex', 'alice']

In [31]:
words = "the python programming language"
words.split(" ")  # split the string based on the space character

['the', 'python', 'programming', 'language']

In reverse, we can merge a list containing multiple strings into a single string using the *join()* function, where the values from the list are separated by a specified character or string.

In [32]:
my_list = ["University","of","Thailand"]
" & ".join( my_list )   # note, the function is called on the separator string!

'University & of & Thailand'

In [33]:
initials = ["B", "C", "C"]
".".join( initials )

'B.C.C'

***
### 3. Converting Between Types

Recall mixing incompatible types is **not** permitted in Python, so trying to concatenate a string and a number will give an error message.

In [34]:
"my age is " + 37

TypeError: can only concatenate str (not "int") to str

Instead, we use *conversion functions* to change a value between basic types in Python. Use the built-in *str()* function to convert any variable to a string:

In [35]:
str(30)  # change an integer to a string

'30'

We can convert string values to other types using various built-in functions - most commonly *int()* to convert to an integer and *float()* to convert to a floating point (real) value:

In [36]:
int("3500")

3500

In [37]:
float("5.04")

5.04

Obviously not all strings will be suitable for conversion to a number, and will result in an error message:

In [38]:
int("KMITL")

ValueError: invalid literal for int() with base 10: 'KMITL'

***
### 4. Formatting Strings

There are many different ways of nicely formatting output in Python. The simplest way is to use the *print()* function with a comma separated list of values to print out:

In [39]:
teamx = 3
teamy = 2
mins = 35
print( "The score was", teamx, "-", teamy, "after", mins, "minutes" )

The score was 3 - 2 after 35 minutes

A more flexible way is to concatenate multiple variables of different types into a single string, using the *%* operator. The *format string* provides the recipe to build the string, containing zero or more *placeholders*. The placeholders get substituted for the list of values that you provide after the % symbol.

Basic usage is: a format string, followed by '%' character, then one or more values in parenthesis. The number of placeholders in the format string must equal the number of values!

In [40]:
"%s and %s" % ( "Alex", "Alice" )   # 2 placeholders, 2 values

'Alex and Alice'

***

### 5. Special placeholder codes are used when building a format string. Each placeholder should correspond to the type of the value that will replace it.
- %d: integer
- %+010d: integer, with a sign character ("+" or "-") that will precede the conversion zero-padded til the width of 10  
- %f: floating point, with default precision
- %.Nf: floating point to *N* decimal places)
- %s: a string (or any value)

In [41]:
director_name = " Anthony and Joe Russo"
movie_name = "Avenger: Endgame"
year = 2019
rating = 8.7
vote = 477651

In [42]:
s = "%s directed %s in %d, which has IMDB rating %f with %+010d" % ( director_name, movie_name, year, rating, vote )

In [43]:
print(s)

 Anthony and Joe Russo directed Avenger: Endgame in 2019, which has IMDB rating 8.700000 with +000477651

Often string formatting can be used to round or "tidy" floating point values:

In [44]:
x = 1.28353

In [45]:
"%f => %0.f or %.1f or %.2f or %.3f" % ( x, x, x, x, x )

'1.283530 => 1 or 1.3 or 1.28 or 1.284'